@page
@model MechWeb.Pages.RequestRepairModel
@{
}
<h1 class="text-center mb-3">Repair Request</h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <h3 class="">Selected car</h3>
                </div>

            </div>

            <div class="row border border-4 border-warning rounded-pill bg-dark text-white d-flex align-items-center">
                <div class="col-2 me-3 ms-2">
                    <img src="~/car.png" style="height:75px" class="mx-auto" />
                </div>
                <div class="col-4 ">
                    <p><b>Make: </b>@Model.SelectedCar.Make</p>
                    <p><b>Model: </b>@Model.SelectedCar.Model</p>
                </div>
                <div class="col-4">
                    <p><b>Year: </b>@Model.SelectedCar.Year</p>
                    <p><b>Mileage: </b>@Model.SelectedCar.Mileage</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="">User info</h3>
                </div>
            </div>
            <div class="row border border-4 border-warning rounded-pill bg-dark text-white d-flex align-items-center">
                <div class="col-2 me-3 ms-2">
                    <img src="~/programmer.png" style="height:75px" class="mx-auto" />
                </div>
                <div class="col-4 ">
                    <p><b>First name: </b>@Model.UserDetails.FirstName</p>
                    <p><b>Last name: </b>@Model.UserDetails.LastName</p>
                </div>
                <div class="col-4">
                    <p><b>Email: </b>@Model.UserDetails.Email</p>
                </div>
            </div>
           
            <h3 class="text-center mt-2">Repair Info</h3>
            <div class="row border border-4 border-warning rounded-3 mt-2">
                <div class="col">
                    <form method="post" asp-page-handler="Send">
                        <div class="form-group m-1">
                            <textarea class="form-control" asp-for="RequestDetails.Description" placeholder="Enter problem description" rows="3"></textarea>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-check m-1">
                                    <label class="control-label" asp-for="RequestDetails.OilChange"></label>
                                    <input type="checkbox" asp-for="RequestDetails.OilChange" class="form-check-input" />
                                    <span asp-validation-for="RequestDetails.OilChange" class="text-danger"></span>
                                </div>
                                <div class="form-check m-1">
                                    <label class="control-label" asp-for="RequestDetails.AirFilter"></label>
                                    <input type="checkbox" asp-for="RequestDetails.AirFilter" class="form-check-input" />
                                    <span asp-validation-for="RequestDetails.AirFilter" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check m-1">
                                    <label class="control-label" asp-for="RequestDetails.TyreChange"></label>
                                    <input type="checkbox" asp-for="RequestDetails.TyreChange" class="form-check-input      />
                                    <span asp-validation-for="RequestBind.TyreChange" class="text-danger"></span>
                                </div>
                                <div class="form-check m-1">
                                    <label class="control-label" asp-for="RequestDetails.CoolantChange"></label>
                                    <input type="checkbox" asp-for="RequestDetails.CoolantChange" class="form-check-input      />
                                    <span asp-validation-for="RequestBind.CoolantChange" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check m-1">
                                    <label class="control-label" asp-for="RequestDetails.LightBulb"></label>
                                    <input type="checkbox" asp-for="RequestDetails.LightBulb" class="form-check-input      />
                                    <span asp-validation-for="RequestBind.LightBulb" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col justify-content-end">
                                @if (Model.isShopSelected)
                                {
                                    <button type="submit" class="btn btn-primary m-1">ConfirmDetails</button>
                                }
                            </div>
                        </div>
                      
                    </form>
                </div>
            </div>
            
        </div>
        <div class="col-6">
            <h3>Repair shops</h3>
            @foreach (var item in Model.RepairShops)
            {
                @if (Model.isShopSelected && item.Id == Convert.ToInt32(HttpContext.Session.GetString("spId")))
                {
                    <div class="row rounded border border-4 border-warning m-2 bg-dark text-white">
                        <div class="col-3 ">
                            <img src="~/repairservices.png" style="height:100px" class="" />
                        </div>
                        <div class="col-7">
                            <h5>@item.Name</h5>
                            <p><b>Adress: </b> @item.Address</p>
                            <p><b>Email: </b>@item.Email</p>
                            <p><b>Phone number: </b>@item.PhoneNumber</p>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <p><b>Rating:</b> @item.GetRating() / 5 (@item.Votes)</p>
                            </div>
                            <div class="row">
                                <form asp-page-handler="SelectShop" method="post">
                                    <input type="hidden" name="id" value="@item.Id" class="form-control" />
                                    <button type="submit" class="btn btn-warning">Select</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
               else
                {
                    <div class="row rounded border border-4 border-light m-2">
                        <div class="col-3 ">
                            <img src="~/repairservices.png" style="height:100px" class="" />
                        </div>
                        <div class="col-7">
                            <h5>@item.Name</h5>
                            <p><b>Adress: </b> @item.Address</p>
                            <p><b>Email: </b>@item.Email</p>
                            <p><b>Phone number: </b>@item.PhoneNumber</p>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <p><b>Rating:</b> @item.GetRating() / 5 (@item.Votes)</p>
                            </div>
                            <div class="row">
                                <form asp-page-handler="SelectShop" method="post">
                                    <input type="hidden" name="id" value="@item.Id" class="form-control" />
                                    <button type="submit" class="btn btn-warning">Select</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    
</div>